{% extends 'main/base.html' %}

{% block content %}
    <h1>Как стать нашим клиентом</h1>
    <p>Мы рады предложить вам профессиональные услуги по разработке и созданию сайтов, которые помогут вашему бизнесу выйти на новый уровень. Чтобы стать нашим клиентом, просто следуйте этим простым шагам:</p>
    <ol>
        <li>
            <h2>Оставьте заявку:</h2>
            <ul>
                <li>Авторизируйтесь на сайте</li>
                <li>Позвоните нам: <a href="tel:+7-956-345-12-34">+7-956-345-12-34</a></li>
                <li>Напишите на почту: <a href="mailto:Goidazov@yandex.ru">Goidazov@yandex.ru</a></li>
            </ul>
        </li>
        <li>
            <h2>Первичная консультация:</h2>
            <p>Наш менеджер свяжется с вами в удобное для вас время, чтобы обсудить ваши потребности и пожелания. Мы ответим на все ваши вопросы и поможем определиться с выбором услуг.</p>
        </li>
        <li>
            <h2>Подготовка технического задания:</h2>
            <p>На основе полученной информации мы подготовим техническое задание, которое будет включать в себя:</p>
            <ul>
                <li>Описание проекта: цели создания сайта, целевая аудитория, функциональные требования и т.д.</li>
                <li>Дизайн-макет: примерный внешний вид сайта</li>
                <li>Сроки разработки</li>
                <li>Предварительная смета</li>
            </ul>
        </li>
        <li>
            <h2>Согласование технического задания:</h2>
            <p>Мы обсудим техническое задание с вами, внесем необходимые коррективы и согласуем окончательный вариант.</p>
        </li>
        <li>
            <h2>Разработка и создание сайта:</h2>
            <p>Наши опытные специалисты приступят к разработке сайта, учитывая все ваши пожелания и требования.</p>
        </li>
        <li>
            <h2>Тестирование и запуск:</h2>
            <p>Мы протестируем сайт на наличие ошибок и недочетов, после чего передадим вам доступ к управлению сайтом.</p>
        </li>
        <li>
            <h2>Поддержка и развитие:</h2>
            <p>Мы готовы предложить вам услуги по технической поддержке и развитию вашего сайта, чтобы он всегда оставался актуальным и эффективным.</p>
        </li>
    </ol>
    <p>Ждем ваших заявок и готовы воплотить ваши идеи в реальность!</p>

    <h2>Оставить заявку на консультацию</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить заявку</button>
    </form>
{% endblock %}